
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #fce277;
        }
        .header {
            background-color: black;
            color: white;
			display: flex;
            text-align: center;
            padding: 20px;
            font-size: 1.5em;
			justify-content: space-between;
        }
		
		.header button {
            background-color: blue;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }
		
        .container {
            padding: 20px;
        }
        label {
            font-size: 1.2em;
            display: block;
            margin: 10px 0 5px;
        }
        input[type="text"], textarea, input[type="file"] {
            width: 100%;
            padding: 10px;
            font-size: 1em;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        textarea {
            height: 100px;
        }
        .link {
            color: purple;
            text-decoration: underline;
            cursor: pointer;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .button {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            font-size: 1.2em;
            color: white;
            cursor: pointer;
        }
        .save-button {
            background-color: #ff5e5e;
        }
        .delete-button {
            background-color: #ff5e5e;
        }
		.edit-chapters {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-top: 2rem;
            background-color: #D1C4E9;
            color: black;
            padding: 1rem;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1rem;
        }
     .genres {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        .genre-option {
            padding: 10px 20px;
            border-radius: 20px;
            border: 2px solid black;
            cursor: pointer;
            background-color: white;
            color: black;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        .genre-option.selected {
            background-color: blue;
            color: white;
            border-color: blue;