
        body {
            background-color: #fddc5c;
            font-family: Arial, sans-serif;
            text-align: center;
			display: flex;
			align-items: center;
        }
		
		.toolbar{
			display: flex;
			gap: 5px;
			margin-bottom: 10px;
		}
		
		.editor-container{
			background: white;
			width: 500px;
			content: attr(data-text);
			border: 2px solid black;
			padding: 10px;
			
			}
			
			
        .container {
            width: 60%;
            margin: 50px auto;
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            background-color: black;
            color: white;
            padding: 15px;
            border-radius: 10px 10px 0 0;
        }
        label {
            display: block;
            margin: 10px 0 5px;
            font-weight: bold;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        button {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            opacity: 0.8;
        }
		
   		