body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #FFEB80;
        }

        header {
            background-color: #000;
            color: #FFF;
            padding: 10px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .container {
            padding: 20px;
        }

        .status {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            font-size: 18px;
        }

        .status .status-label {
            color: #00AEEF;
        }

        .status .status-value {
            color: #FF4F79;
        }

        .chapters-section {
            margin-top: 20px;
        }

        .chapters-section h2 {
            margin-bottom: 10px;
        }

        .chapter-placeholder {
            border: 2px dashed #AAA;
			display: flex;
			flex-direction: column;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            color: #555;
			background-color: #FFF;
			overflow-y: auto;
        }
		
		.chapter-item {
   			 padding: 20px;
   			 text-align: center;
   			 color: darkred;
   			 font-size: 14px;
   			 border-bottom: 1px solid gray;
		}

        .actions {
            margin-top: 30px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .actions button {
            background-color: #FF4F79;
            color: #FFF;
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .actions button:hover {
            background-color: #FF6F91;
        }