  body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #000;
            color: #fff;
        }

        .container {
            background-color: #ff69b4;
            padding: 20px;
            min-height: 100vh;
        }
		
		 .header {
            background-color: #000;
            
            text-align: center;
            padding: 1rem;
			margin-bottom: 20px;
        }
        
		.header button {
	background-color: blue;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;

			position:
; 	position: relative;
	left: auto;
        }

        .content {
            display: flex;
            gap: 20px;
        }

        .book-cover {
            width: 50px;
            height: 75px;
            background-color: #e2e8f0;
            border-radius: 10px;
            margin-right: 1rem;
			flex: 1;
        }

        

        .image img {
            width: 200px;
            height: 300px;
            background-color: #e2e8f0;
            border-radius: 8px;
        }

        .details {
            flex: 2;
        }

        .details h2 {
            font-size: 2em;
            margin: 0 0 10px;
            color: #000;
        }

        .details p {
            margin: 5px 0;
            font-size: 1.2em;
            color: #000;
        }

        .details .chapters {
            margin-top: 20px;
            font-size: 1.5em;
            font-weight: bold;
            color: #000;
        }

        .footer {
            text-align: center;
            margin-top: 40px;
            color: #d8b4fe;
            font-size: 1em;
            font-style: italic;
        }
		
		 .chapters-section {
            margin-top: 20px;
        }

        .chapters-section h2 {
            margin-bottom: 10px;
        }

        .chapter-placeholder {
            border: 2px dashed #AAA;
			display: flex;
			flex-direction: column;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            color: #555;
			background-color: #FFF;
			overflow-y: auto;
        }
		
		.chapter-item {
   			 padding: 20px;
   			 text-align: center;
   			 color: darkred;
   			 font-size: 10px;
   			 border-bottom: 1px solid gray;
		}
